body{
    background-color: #F3EBEB;
}
.header{
    display: flex;
}
.header img{
    margin-left: 10px;
    width: 120px;
}
nav{
    float: right;
    margin-left: 600px;
    padding-top: 50px;
    font-family: 'Playfair Display', serif;
    font-weight: 550;
    font-size: 13pt;
}
nav a{
    justify-content: right;
    padding: 10px 20px;
    text-decoration: none;
    color: #363535;
}
.hero{
    display: flex;
    padding: 100px;
}
.hero img{
    border-radius: 3%;
    box-shadow: 12px 12px 2px 1px #8C8484;
}
.hero span{
   margin: 100px;
   font-size: 24pt;
   font-family: 'Playfair Display', serif;
   color: #363535;
}
.hero a {
    text-decoration: none;
    color: #8C8484;
}
.hero button{
    border: transparent;
    border-radius: 10px;
    background-color: #918C8C;
    color: whitesmoke;
    width: 150px;
    height: 40px;
    font-size: 15pt;
    font-style: Raleway, sans-serif;
}
.about{
    background-color: blue;
}
.portfolio{
    background-color: yellow;
}
.services{
    background-color: purple;
}
.experience{
    background-color:pink;
}
.contact{
    background-color: coral;
    display: flex;
}
footer{
    background-color: grey;
}